<div class="container-fluid">



    <Div>
        <div class="  jumbotron text-center mt-3" style=" background-color: #3F0071;" >

            <h1 class="text-light  text-left"> <span style="font-size:70px">Welcome</span> to Expense Manager</h1>
           <div class="row ">
            <div class="text-lg-left col-6">
                <h3 class="text-light"><span class="text-light">Total   = </span>{{Total}}</h3>
                <h3 class="text-light"><span class="text-light">Income  = </span>{{Income}}</h3>
                <h3 class="text-light"><span class="text-light">Expense = </span>{{Expense}}</h3>
            </div>
            <div class="text-lg-right col-6">
                <button class="btn  btn-lg ml-3  font-weight-bold " 
                        style=" background-color:  azure ; color: #3F0071;"
                        routerLink="/Add">ADD
                </button>
            </div>
           </div>
           
        </div>



        <div class="container-fluid p-lg-3 align-content-center  w-100" style=" ">

            <pre>{{ dateOnly }}</pre>

            <table class=" container table table-bordered border-dark w-95 table-striped">
                <thead class=" w-100 text-center" style="  background-color:#3F0071">
                    <tr>
                        <th class="  text-white">Category</th>
                        <th class="text-white">Amount</th>
                        <th class="text-white">Type</th>
                        <th class="text-white">Date</th>
                        <th class="text-white">Action</th>

                    </tr>



                </thead>
                <tbody *ngFor="let data of  dataSet " class="bg-light">


                    <tr *ngIf="data.date  !=date.date">


                        <td class="font-weight-bold " name="Category">{{data.category}} </td>
                        <td><span class="fw-bold">{{data.amount}}</span></td>
                        <td>{{data.type}}</td>
                        <td>{{data.date}}</td>

                        <td style="width: 350px; ;" class="">
                            <Div class="  container row align-items-lg-center  ">
                                <div>
                                    <button class="btn btn-info ml-3" routerLink="/Update/{{data.id}}">Update</button>
                                </div>
                                <div>
                                    <button class="btn btn-danger ml-3" (click)="btnDelete(data.id)">Delete</button>
                                </div>
                            </Div>

                        </td>

                    </tr>

                </tbody>

            </table>




        </div>